div, input { box-sizing: border-box; }

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0; /* Override */
    display: flex;
    flex-direction: column;
    margin-left: 1px; // VS Code Webview splitter eats an extra pixel on the left.
    background-color: azure;
}

a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

mark {
    color: unset;
    background: var(--vscode-editor-findMatchHighlightBackground);
}

*:focus {
    outline: 1px solid var(--vscode-focusBorder) !important; // Override VS Code defaultStyles which are not self-consistent.
    outline-offset: -1px;
}

// ^^ Move to index.html ^^

#root {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flexFill { flex: 1 1 }

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.svZeroData {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > * + * { margin-top: 16px; }

    & > div {
        color: white;
        background: var(--vscode-button-background);
        width: 200px;
        padding: 4px;
        line-height: 1.4em;
        text-align: center;
        cursor: pointer;
    }
}

.svListPane {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .svTable {
        flex: 1 1;
    }
}

.svListHeader {
    display: flex;
    align-items: center;
    padding-right: 8px;

    .codicon {
        flex: 0 0 35px;
        line-height: 35px;
        cursor: pointer;
        // &:hover { background-color: var(--vscode-list-hoverBackground); }
    }

    .svFilterCombo {
        flex: 0 1 250px;
        height: 22px;
        margin-right: 8px;
        display: grid;
        & > * { grid-area: 1/1; }

        input {
            background-color: var(--vscode-input-background);
            color: var(--vscode-input-foreground);
            border: none;
            padding: 4px 5px;
            font-size: 12px;
            overflow: hidden;
        }

        .codicon {
            justify-self: end;
            line-height: 22px;
            width: 30px;
            margin: 1px; // Allow parent outline to show.
            background-color: var(--vscode-input-background); // Incase of overlap
        }
    }
}

.svListItem {
    line-height: 22px;
    cursor: pointer;
}

.svSecondary {
    // VS Code has 0.7 here but 0.6 in other places.
    // Opacity causing z-order issues with position: sticky, so using manually calced color.
    // Need to solve calc relative to theme.
    color: rgb(255, 255, 255);
}

.svLogsPane {
    overflow-y: auto;
    
    .svListItem {
        padding: 0 22px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        cursor: default;
        & > * + * {
            margin-left: 6px;
        }

        & > :nth-child(2) {
            flex: 1 1 auto;
        }

        .codicon {
            cursor: pointer;
        }
    }
}

.svResizer {
    flex: 0 0 auto;
    background-color: var(--vscode-editorGroup-border);
    height: 1px;
    position: relative; // For handle.
}

.svMarkDown {
    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.svg {
    svg {
        rect {
            fill: orange;
        }
  
        text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }
    }
  }

img {
    flex: 0 0 auto;
    padding: 10;
    display: block;
    margin: 0 auto;
    max-height: 40;
    width: 23%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }